body{
    /* background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    background: linear-gradient(342deg, rgba(2, 0, 36, 1) 0%, rgb(20, 20, 33) 0%, rgb(52, 74, 78) 100%);
    min-height: 100vh; 

}
.container{
    padding-top: 30px;
    padding: 20px;
    margin: 0 190px;
   max-width: 1200px;
   
}
/* --------------------------------------------------Header--------------------------------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    /* background-color: rgba(172, 222, 195, 0.526); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border: 0.5px solid transparent;
    
}
.logo{
    font-size: 40px;
    background: linear-gradient(to right, #9932CC, #FF69B4);
    /* -webkit-background-clip: text; */
    background-clip: text;
    color: transparent;
    font-weight: 550;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 20px;
}
ul a{
    text-decoration: none;
    color: white;
    transition: 0.5s all;

}
ul a span:hover{
    transform: translateY(4px);
}
.button{
    padding: 14px 28px;
    border-radius: 50px;
    border: none;
    outline: none;
    background:linear-gradient(to right, #9932CC, #8A2BE2);
    color: white;
    cursor: pointer;
    align-items: center;
    transition: all 0.4s;
    /* box-shadow:  0 8px 20px rgba(153, 50, 201, 0.6); */
    /* box-shadow: rgba(81, 154, 219, 0.25) 0px 6px 12px -2px, rgba(84, 139, 202, 0.3) 0px 3px 7px -3px; */
}
.button span{
    font-weight: 700;
}

/* --------------------------------------------------Header--------------------------------------- */

   main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    flex-wrap: wrap;
   }
   .content{
    margin-top: 50px;
    flex: 1;
    max-width: 600px;
    padding-right: 30px;
   
   }
    .content h1{
        color: white;
        font-size: 65px;
    }
    .content h1 span{
        background: linear-gradient(to right, #9932CC, #FF69B4);
    /* -webkit-background-clip: text; */
    background-clip: text;
    color: transparent;
}
    .content p:nth-of-type(1){
        padding: 10px 0;
        font-size: 35px;
        color: rgb(200, 182, 226);
}
    .content p:nth-of-type(2){
        font-size: 20px;
        color: rgb(169, 169, 169);
    }
    .button_wrapper{
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
    .readMore{
        border: 2px solid #9932CC;
        background: transparent;
        position: relative;
        z-index: 1;
        overflow-x:hidden;
        box-shadow: none;
    }
    .start:hover{
        transform: translateY(-3px);
        box-shadow: 0 8px 20px rgba(153, 50, 204, 0.6);
    }
    .readMore::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background:linear-gradient(to right, #9932CC, #8A2BE2);
        transition: all 0.3s;
        z-index: -1;
    }
    .readMore:hover::before {
        width: 100%;
        border: none;
        outline: none;
    }
    .image_container{
        position: relative;
        flex: 1;
        text-align: center;
    }
    .image_container img{
        border-radius: 100%;
    }
/* ........................... */
    .features{
        display: flex;
        gap: 20px;
        margin-top: 40px;
        flex-wrap: wrap;
        cursor: pointer;
    }
    .feature {
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(10px);
        border-radius: 15px;
        padding: 20px;
        flex: 1;
        min-width: 150px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.1);
        transition: all 0.4s;
    }
     .feature h2 {
        color: white;
        margin: 10px 0;
        font-size: 18px;
     }
    .feature h3{
        color: #a9a9a9;;
        font-size: 14px;
    }
   
    .feature-icon{
        display: flex;
        font-size: 24px;
        width: 50px;
        height: 50px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid;
        color: #9932CC;
        transition: 0.5s all;

    }
    .feature:hover{
        transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(153, 50, 204, 0.4);
    border: 1px solid rgba(153, 50, 204, 0.3);
       
    }
    .feature:hover .feature-icon{
        transform: rotate(360deg) scale(1.2);
        background: linear-gradient(to right, #9932CC, #FF69B4);
        color: white;

    }
    
    /* ..............................................Footer............................. */
    .bottom{
        text-align: center;
        margin-top: 80px;
        padding:50px 0px;
        border-top: 1px solid wheat;
        
    }
    .social_icon {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        border-radius: 50%;
       
       
    }

    .social_icon a{
        color: white;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
      transition: all 0.3s ease;
        
    }
    .social_icon a:hover{
        background: linear-gradient(to right, #9932CC, #FF69B4);
        transform: translateY(-4px);
        
    }
    
    .bottom p{
        margin-top: 20px;
        color: white;
        font-weight: 90px;
    }